$font-weight-custom: 500;
$letter-spacing-15: 0.009rem;

// Color system
$blue: #367bf5;
$red: #f25252;
$green: #00ac6e;
$gray: #E3E5E6;
$gray-body: #34495e;

//Input
$input-border-color-custom: #eaeff3;
